.projects-ctn{
  margin: 0 auto 5% auto;
  padding-bottom: 100px;
  height: 50%;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(50, 91, 160);
}
.project-title{
  margin: 0 auto 100px auto;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 32px;
}
.cards-ctn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.pro-div{
  width: 25%;
  min-height: 600px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px 0px rgb(50, 91, 160);
  margin: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  transition: transform 1.0s ease;
}
.pro-div:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.img-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.project-img{
  width: 100%;
}

.button-ctn{
  margin: 10px 0;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.app-name{
  font-family: 'Alata', sans-serif;
  font-size: 32px;
}
.project-btn{
  width: 70px;
  background-color: rgb(44, 152, 240);
  color: white;
  font-weight: 500;
  border-radius: 0px;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 1px;
}

.pro-content{
  font-family: 'Source Sans Pro', sans-serif;
  width: 90%;
  font-size: 16px;
}
.tech{
  font-size: 18px;
  font-family: 'Alata', sans-serif;
  text-align: start;
  width: 80%;
}
.tech-div{
  margin-top: 5%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
}
.tech-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 5px;
  font-size: 13px;
  font-weight: 400;
  padding-left: 0px;
}
.tech-item{
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  padding:2px;
  margin: 2px;
}
.link-ctn{
  width: 100%;
  padding: 20px 0 20px 0;
}

.link-icon{
  width: 25px;
  height: 25px;
  fill: rgb(0, 0, 0);
  margin-left: 25px;
 
}

.link-icon:hover,
.link-icon:focus {
 
  filter: invert(32%) sepia(37%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


