.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: rgb(50, 91, 160);

  z-index: 5;
}
.title-ctn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50%;
  transition: all 1s;
}
.my-name {
  font-size: 2.5em;
  margin-left: 55px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-family: "Oswald", sans-serif;
  margin-right: 15px;
}

.right-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
html {
  scroll-behavior: smooth;
}
.nav-link:hover {
  border-bottom: 1px solid white;
  color: white;
}
.social-icons-ctn {
  display: flex;
  justify-content: center;
  width: auto;
}
.github-ctn {
  margin-right: 20px !important;
  padding-top: 5px;
  width: 40%;
}

.social-icon {
  width: 35px;
  height: 35px;
  filter: invert(100%) sepia(5%) saturate(3437%) hue-rotate(35deg)
    brightness(117%) contrast(104%);
}
.social-icon:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.github-ctn {
  margin-right: 70px;
}
